{% extends 'auction/base.html' %}

{% load static %}

{% block title %} {{ user.username }} {% endblock %}
{% block describe %}<h3>Personal information:<h3/>{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if profile.photo %}/{{ profile.photo }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            <h3>E-mail: {{ user.email }}</h3>

        {% if profile.cellphone %}
            Phone: {{ profile.cellphone }}
            <br/>
        {% endif %}

        {% if profile.country %}
            Country: {{ profile.country }}
            <br/>
        {% endif %}

        {% if profile.date_of_birth %}
            Date of birth: {{ profile.date_of_birth }}
            <br/>
        {% endif %}

        {% if request.user.is_authenticated %}
            {% if request.user.id == user.id %}
                <h3><a href=".">Balance</a>: {{ profile.balance }}</h3>
                <a href="{% url 'edit_user'%}"> Edit profile </a>
                <br />
                    {% if winning_auctions.exists %}
                        <h3>You are last buyer of the following auctions:</h3>

                        {% for auction in winning_auctions %}
                            <a href="{% url 'auction_by_id' auction.id %}">{{ auction.picture.title }}</a>
                        {% endfor %}

                    {% endif %}
            {% endif%}
        {% endif %}

        <h3>My auctions: </h3>
        {% for auction in own_auctions %}
            <a href="{% url 'auction_by_id' auction.id %}">{{ auction.picture.title }}</a>
        {% endfor %}

    </div>

{% endblock %}
