{% extends "auction/base.html" %}
{% load static %}

{% block title %}{{ auction.picture.title }}{% endblock %}
{% block describe %}<h3>Painting "{{ auction.picture.title }}" by
    <a href="{% url 'user_by_id' auction.seller.id %}" class="logo"> {{ auction.seller.username }}</a></h3>{% endblock %}


{% block content %}
    <div class="product-detail">
        <img src="{% if auction.picture.image %}/{{ auction.picture.image }}
        {% else %}{% static 'img/no_image.png' %}{% endif %}" >
        <h1>{{ auction.picture.title }}</h1>
        <h4>{{ auction.picture.description|linebreaks }}</h4>
        <p class="price">Last price is ${{ auction.current_price }}</p>
        <h3>Minimum bid is ${{ auction.current_price|add:auction.bid_rate }}</h3>
        <p><small>
            Auction's start: {{ auction.time_starting}}
            <br />
            Auction's end: {{ auction.time_ending}}
        </small></p>

        {% if request.user.is_authenticated %}

            {% if request.user.id == auction.seller.id %}
                <h3>You are owner!</h3>
            {% else %}
                {% if request.user.id == auction.buyer.id %}
                    <h3>You are last buyer!</h3>
                    <br />
                {% endif%}

                <form  method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><input type="submit" value="Raise bid"></form></p>
                </form>

            {% endif %}
        {% else %}
                <h3>Please log in or sign in to participate in the auction!</h3>
        {% endif %}

    </div>
{% endblock %}
